# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# dependencies
/node_modules
/public
/client/build
/client/node_modules
/client/public/fontawesome

/old-files


npm-debug.log*
yarn-debug.log*
yarn-error.log*
