# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# dependencies
/client/build
/client/mode_modules
/node_modules
/public
/old-files


npm-debug.log*
yarn-debug.log*
yarn-error.log*
