# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# dependencies
/client/build
/client/node_modules
/client/public/fontawesome
/server/node_modules
/server/public
/server/old-files
/server/notes
/server/tests
/server/views


npm-debug.log*
yarn-debug.log*
yarn-error.log*
