@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
:root {
    --bg-color: radial-gradient( #1B3F91, #292D36);
    --my-white: #DEDEDE;
    --my-blue: #0080FF;
    --my-grey: #979DAC;
    --my-dark: #292D36;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    min-height: 100%;
}

body {
    background: var(--bg-color);
    background-repeat: no-repeat;
    letter-spacing: 1px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

header .logo {
    margin-left: 10px;
}

header .hamburger-menu {
    margin-right: 10px;
}

.page-title {
    font-family: 'Russo One', sans-serif;
    color: var(--my-white);
    font-size: 46px;
}

.page-photo-icon img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid var(--my-blue);
}

.my-photo {
    float: right;
    margin-right: -60px;
}

.my-photo img {
    /* z-index: 500; */
    border-radius: 10px;
    height: 80px;
    width: 80px;
    border: 3px solid var(--my-blue);
    left: 0px;
    top: 0px
}

.my-photo::after {
    z-index: -1;
    position: relative;
    display: inline-block;
    content: "";
    border-radius: 10px;
    height: 75px;
    width: 75px;
    border: 3px solid var(--my-blue);
    right: 77px;
    top: 7px;
}
/* .my-photo {
    position: relative;
}

.my-photo img {
    position: absolute;
    
    border-radius: 10px;
    height: 80px;
    width: 80px;
    border: 3px solid var(--my-blue);
    left: 0px;
    top: 0px
}

.photo-square {
    position: absolute;

    border-radius: 10px;
    height: 80px;
    width: 80px;
    border: 3px solid var(--my-blue);
    left: 7px;
    top: 7px;
} */

.inner-section-top {
    display: flex;
    /* flex-direction: row; */
}
.inner-top-left {
    flex: 70%;

}

.inner-top-right {
    flex: 30%;
}


.inner-section {

}

/* .section-title, .section-body {
    margin-left: 15px;
} */

.page-intro, .page-description {
    font-family: 'Bebas Neue', sans-serif;
}

.page-intro {
    color: var(--my-blue);
    font-size: 31px;
}

.page-description {
    color: var(--my-grey);
    font-size: 31px;
}

.section-languages {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Fredoka One', sans-serif;
    background-color: var(--my-blue);
    color: white;
    border: none;
    width: 112px;
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
}

section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section:nth-of-type(2) {
    margin: 0px 16px;
}

h1 {
    overflow: hidden;
    text-align: center;
    color: var(--my-white);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 15px;

}

h2 {
    font-family: 'Russo One', sans-serif;
    color: var(--my-white);
    font-size: 22px;
    margin-bottom: 10px;
}

h1:before,
h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 4px;
    border-radius: 50px;
    position: relative;
    vertical-align: middle;
    background-color: var(--my-blue);
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
    width: 35%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
    width: 65%;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: var(--my-grey);
}

p b {
    /* text-decoration: none; */
    color: var(--my-white);
    font-weight: 600;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 3px;
    color: var(--my-white);
    font-family: 'Bebas Neue', sans-serif;
}
li::before {
    content: "";
    /* background-color: var(--my-blue); */
    border: 5px solid var(--my-blue);
    border-radius: 50%;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    /* padding-top: 5px; */
} 
/* li::before {
    font-family: "Font Awesome 5 Free"; 
    font-size: 12px;
    margin-right: 5px;
    content: "\f192";
    color:#0080FF;
}  */

::-webkit-scrollbar {
    width: 10px;
    background: var(--my-dark);
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    margin: 5px;    
}

::-webkit-scrollbar-thumb {
    background: var(--my-blue); 
    border-radius: 30px;
    transition: transform 100ms ease-in, filter 100ms ease-in;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--my-blue); 

}