<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/bootstrap-dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"defer></script>
    <!-- <script src="../scripts/myscript.js" defer></script> -->
    <link href="/bootstrap-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">    
    <title>Document</title>
</head>
<body>
    <main>
                    <!-- form contact -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                          <h3 class="mb-0">Contact</h3>
                        </div>
                        <div class="card-body">
                          <form action="/formPost" method="POST" target="dummyFrame" autocomplete="off" class="form" role="form">
                            <fieldset>
                              <label class="mb-0" for="name2">Name</label>
                              <div class="row mb-1">
                                <div class="col-lg-12">
                                  <input class="form-control" id="name2" name="name2" required="" type="text">
                                </div>
                              </div>
                                                  <label class="mb-0" for="email2">Email</label>
                              <div class="row mb-1">
                                <div class="col-lg-12">
                                  <input class="form-control" id="email2" name="email2" required="" type="text">
                                </div>
                              </div>
                                                  <label class="mb-0" for="message2">Message</label>
                              <div class="row mb-1">
                                <div class="col-lg-12">
                                  <textarea class="form-control" id="message2" name="message2" required="" rows="6"></textarea>
                                </div>
                              </div>
                                                  <button class="btn btn-secondary btn-lg float-right" type="submit">Send Message</button>
                            </fieldset>
                          </form>
                        </div>
                    </div><!-- /form contact -->
                    <iframe name="dummyFrame" width="0" height="0" border="0" style="display: none;"></iframe>

    </main>
</body>
</html>