:root {
  --bg-color: radial-gradient( #1B3F91, #292D36);
  --nav-bg-color: radial-gradient( rgb(27, 63, 145, 80%), rgb(41, 45, 54, 80%));
  /* --nav-bg-color: radial-gradient( #1B3F91, #292D36 80%, transparent 70%); */
  --my-white: #DEDEDE;
  --my-rwhite: #ffffff;
  --my-blue: #0080FF;
  /* --my-grey: #979DAC; */
  --my-grey: #DEDEDE;
  --my-dgrey: #4E566A;
  --my-dark: #292D36;
  --my-ldark: #3C414D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  min-height: 100%;
}



body {
  background: var(--bg-color);
  background-repeat: no-repeat;
  letter-spacing: 1px;
}

/* header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
} */

.nav-align {
    display: flex;
    justify-content: space-between;
}

.top-navigation {
  z-index: 1;
  position: fixed;
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding-top: 10px; */
  width: 100%;
  background: var(--nav-bg-color);
  height: 68px;
  /* opacity: 1; */
}
header {
  z-index: 1;
  position: relative;
  /* width: 100%;
  background: var(--nav-bg-color);
  height: 68px; */
}

header .logo {
  margin-left: 10px;
  text-align: right;
  position: absolute;
  top: 5px;
  left: 0;
}

header .hamburger-menu {
  z-index: 2;
  /* display: none; */
  margin-right: 10px;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 0;
}

nav {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* margin-top: -7px; */
  height: 60px;
}



nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0px 10px;
  color: var(--my-rwhite);
  font-family: 'Russo One', sans-serif;
}

nav button {
  font-family: 'Russo One', sans-serif;
  background-color: var(--my-blue);
  color: white;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;

}

a, button{
  cursor: pointer;
}


.page-title {
  font-family: 'Russo One', sans-serif;
  color: var(--my-rwhite);
  font-size: clamp(46px, 8vw, 80px);
}

.page-photo-icon img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /* height: clamp(100px, 50%, 150px);
  width: clamp(100px, 50%, 150px); */
  border: 3px solid var(--my-blue);
}

.my-photo {
  float: right;
  position: relative;
  /* display: inline-block; */
  /* margin-left: 70px; */
  /* padding-left: 60px; */
}

.my-photo img {
  /* z-index: 500; */
  border-radius: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid var(--my-blue);
  left: 0px;
  top: 0px;
}

.my-photo::after {
  z-index: -1;
  position: absolute;
  display: inline-block;
  content: "";
  border-radius: 10px;
  height: 75px;
  width: 75px;
  border: 3px solid var(--my-blue);
  left: 7px;
  top: 7px;
}
/* .my-photo {
  position: relative;
}

.my-photo img {
  position: absolute;
  
  border-radius: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid var(--my-blue);
  left: 0px;
  top: 0px
}

.photo-square {
  position: absolute;

  border-radius: 10px;
  height: 80px;
  width: 80px;
  border: 3px solid var(--my-blue);
  left: 7px;
  top: 7px;
} */

.inner-section-top {
  display: flex;
  /* flex-direction: row; */
}
.inner-top-left {
  flex: 70%;

}

.inner-top-right {
  flex: 30%;
}



.timeline {
  position: relative;
  /* Temporary height */
  /* height: 400px; */
}

.timeline-container {
  display: block;
  position: relative;
  margin-bottom: 65px;
}
/* .timeline-container {
  display: block;
  position: relative;
  height: 230px;
  max-width: 685px;

} */
.timeline-container:nth-of-type(1) {
  margin-top: 30px;
}

/* Below is for tablet+ views */

/* .timeline::before {
  content: "";
  display: block;
  position: absolute;
  left: 62px;
  top: -3px;
  width: 4px;
  height: 100%;
  background: var(--my-blue);
  border-radius: 25px;
} */

/* .timeline::before {
  content: "";
  display: block;
  position: absolute;
  left: 37px;
  top: -15px;
  width: 4px;
  height: 100%;
  background: var(--my-blue);
  border-radius: 25px;
} */

.timeline-date {
  position: absolute;
  font-family: 'Russo One', sans-serif;
  font-size: 10px;
  color: var(--my-rwhite);
  top: -40px;
  right: 5px;
}

/* Below is for tablet+ views */
/* .timeline-date {
  top: 33px;
  right: unset;
} */
/* .timeline-date {
  position: absolute;
  font-family: 'Russo One', sans-serif;
  font-size: 10px; 
  color: var(--my-rwhite);
  top: 33px;
} */

/* .timeline-date {
  position: absolute;
  font-family: 'Russo One', sans-serif;
  font-size: 10px;
  color: var(--my-rwhite);
  top: 33px;
  word-spacing: 9999px;
} */

/* .timeline-arrow {
  position: absolute;
  top: 30px;
  left: 70px;

} */

.timeline-arrow {
  display:none;
}
/* Below is for tablet+ views */

/* .timeline-arrow {
  position: absolute;
  top: 35px;
  left: 46px;
} */

/* .timeline-body {
  position: absolute;
  top: -15px;
  left: 130px;
  width: 50px;
  height: 50px;
  border: 3px solid var(--my-blue);
  border-radius: 5px;
} */

.timeline-title {
  position: absolute;
  font-family: 'Russo One', sans-serif;
  font-size: 10px;
  color: var(--my-rwhite);
  top: -17px;
  left: 6px;
}

/* Below is for tablet+ views */
/* .timeline-title {
  position: absolute;
  font-family: 'Russo One', sans-serif;
  font-size: 10px;
  color: var(--my-rwhite);
  top: -17px;
  left: 104px;

} */

/* .timeline-title {
    position: absolute;
    font-family: 'Russo One', sans-serif;
    font-size: 10px;
    color: var(--my-rwhite);
    top: -17px;
    left: 79px;
} */

.timeline-outter-body {
  position: relative;
}

.timeline-inner-body {
  position: relative;
}

.timeline-body {
  position: static;
  top: 0px;
  background-color: var(--my-ldark);
  border-radius: 5px;
  /* padding: 3px 10px; */  
  padding: 15px;
  /* margin-left: 100px; */
}

/* Below is for tablet+ displays */

/* .timeline-body {
  position: static;
  top: 0px;
  background-color: var(--my-ldark);
  border-radius: 5px;
  padding: 3px 10px;
  margin-left: 100px;
} */


/* .timeline-body {
  position: absolute;
  top: 0px;
  left: 97px;
  width: auto;
  height: auto;
  background-color: var(--my-ldark);
  border-radius: 5px;
  
  padding: 3px 10px;
} */

/* .timeline-body {
  position: absolute;
  top: 0px;
  left: 73px;
  width: auto;
  height: auto;
  background-color: var(--my-ldark);
  border-radius: 5px;
  padding: 3px 10px;
} */


/* .timeline-top-right {
  z-index: -1;
  position: absolute;
  top: -20px;
  right: 0;
  width: 10vw;
  height: auto;
  background-color: var(--my-ldark);
  border-radius: 15px;
  padding: 3px 10px;
} */

.timeline-top-right {
  display: flex;
  justify-content: space-around;
  /* z-index: -1; */
  position: absolute;
  top: -25px;
  right: 0;
  width: 65px;
  /* max-width: 300px; */
  height: 62px;
  background-color: var(--my-ldark);
  /* border: 3px solid var(--my-blue); */
  border-radius: 5px;
  padding: 5px 3px;
  
}

.timeline-top-right i {
  color: var(--my-blue);
  font-size: 20px;
}
.timeline-top-right img, .timeline-top-right object {
  color: var(--my-blue);
  width: 22px;
  height: 22px;
}

.timeline-top-right svg {
  color: var(--my-blue);
  fill: var(--my-blue);

}
.timeline-top-right path {
  color: var(--my-blue);
  fill: var(--my-blue);

}
.timeline-top-right object:nth-of-type(2), .timeline-top-right img:nth-of-type(2) {
  width: 18px;
  height: 18px;
}

.timeline-top-right i:nth-of-type(2), .timeline-top-right a:nth-of-type(2) i {
  /* padding-top: 10px; */
  font-size: 17px;
}

.outter-timeline {
  max-width: 500px;
  margin: 0 auto;
}

.outter-about {
  max-width: 500px;
  margin: 0 auto;  
}

.experience-body {
  height: 330px;
  max-width: 500px;
  margin: 0 auto;
}

.tabs-container {
  position: relative;
  background: var(--my-dgrey);
  width: 90px;
  min-height: 100%;
  float: left;
  z-index: 20;
  border-radius: 10px 0 0 10px;



}
/* tabs names */
.tabs-container label{
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  font-family: 'Russo One', sans-serif;
  font-size: 10px;  
  text-align: center;  
}

/* Hover effect on tabs names */
.tabs-container label:hover {
  background: rgba(0, 0, 0, 0.2);
  /* border-radius: inherit; */
}

.tabs-container label:first-of-type:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px 0px 0px 0px;
}

/* Content area for tabs */
.tab-content {
  position: relative;
  background: var(--my-ldark);
  width: calc(100% - 90px);
  min-height: 100%;
  padding: 15px;
  float: left;
  box-sizing: border-box;
  display: none;
  border-radius: 0 10px 10px 0;
}

.tab-content:after {
  content: "";
  clear: both;

}

.contact-body, .contact-buttons {
  /* width: 130px; */
  margin: 10px 0px;
  text-align: center;

} 

.contact-buttons {
  display: flex;
  justify-content: center;
  /* width: 130px; */

}
.contact-buttons button {
  width: 130px;
  margin: 0px 10px;
  font-size: 12px;
}
/* Hide input radio from users */
input[name="tab"] {
 display: none;
}
/* Show tab when input checked */
input[name="tab"]:checked + .tab-content{
   display: block;
 /* animation: slide 0.5s forwards; */

}


/* Slide animation for tab contents */
@keyframes slide{
   from{
       left: -100%;
       opacity: 0;
   }
   to{
       left: 0;
       opacity: 1;
   }

}


/* .section-title, .section-body {
  margin-left: 15px;
} */

.page-intro, .page-description {
  font-family: 'Bebas Neue', sans-serif;
}

.page-intro {
  color: var(--my-blue);
  /* font-size: 31px; */
  font-size: clamp(31px, 8vw, 52px);
}

.page-description {
  color: var(--my-grey);
  /* font-size: 31px; */
  font-size: clamp(31px, 8vw, 52px);

}

.section-languages {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Fredoka One', sans-serif;
  background-color: var(--my-blue);
  color: white;
  border: none;
  width: 112px;
  height: 34px;
  border-radius: 5px;
  font-size: 14px;
  
}

section:not(:first-of-type) {
  /* margin: 0px 16px; */
  padding: 0px 16px;
  margin: 15vh 0px;

}


section:not(:first-of-type):not(:nth-of-type(2)) {
  margin-top: 100px;
  /* t */
  /* test */
}

section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



/* section:nth-of-type(3) {
  margin-top: 100px;

} */
h1 {
  overflow: hidden;
  text-align: center;
  color: var(--my-rwhite);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 60px;

}

h2 {
  font-family: 'Russo One', sans-serif;
  color: var(--my-rwhite);
  font-size: 22px;
  margin-bottom: 10px;
}

h1:before,
h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 4px;
  border-radius: 50px;
  position: relative;
  vertical-align: middle;
  background-color: var(--my-blue);
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
  width: 35%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
  width: 65%;
}

h3 {
  font-family: 'Russo One', sans-serif;
  font-size: 12px;
  color: var(--my-rwhite);
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: var(--my-grey);
}

p b {
  /* text-decoration: none; */
  color: var(--my-rwhite);
  font-weight: 600;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 3px;
  color: var(--my-rwhite);
  font-family: 'Bebas Neue', sans-serif;
}
.timeline-body li::before, .tab-content li::before, .section-languages li::before {
  content: "";
  /* background-color: var(--my-blue); */
  border: 5px solid var(--my-blue);
  border-radius: 50%;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 5px;
  /* padding-top: 5px; */
} 

.timeline-body li, .tab-content li {
  font-size: 12px;
  display: inline;
}

.tab-content ul {
  margin-top: 10px;
}

.timeline-body li::before, .tab-content li::before, .section-languages li::before {
  border: 4px solid var(--my-blue);

}

hr {
  margin: 10px 0px;
  border: 1px solid var(--my-blue);
  border-radius: 25px;
}

/* li::before {
  font-family: "Font Awesome 5 Free"; 
  font-size: 12px;
  margin-right: 5px;
  content: "\f192";
  color:#0080FF;
}  */

.ham-menu {
	/* display: none; */
	/* z-index: 1; */
	transition: all 80ms ease-in;
	/* background-color: #1B6CBD; */
}

.ham-menu span {
	display: block;
	width: 45px;
	height: 8px;
	margin: 5px;
	background-color: var(--my-blue);
	border-radius: 7px;
	/* transform: scale(1); */
	transition: transform 250ms ease-in;

	/* transform: rotate(0deg); */
	
}
.ham-menu:hover {
	cursor: pointer;
	transform: scale(1.1);
	filter: brightness(1.2);
	
	
}

.ham-menu:active {
	transform: scale(1.1);
	filter: brightness(1.2);
	
}



.ham-menu span:nth-child(3) {
	margin-top: -13px;


}

.active-menu {
  display: none;
	/* display: unset; */
	/* transform:translateX(110%); */
	/* z-index: 1; */
	position: fixed;
	right: 0;
	width: 65%;
	height: 100%;
	background-color: var(--my-ldark);
	color: var(--my-white);
	box-shadow: -12px 0px 29px -10px rgba(0,0,0,0.75);
	transition: transform 250ms ease-in;

}

.menu-active {
	display: unset;
	/* opacity: 1; */
	/* transform:translateX(0%); */

}

.active-menu h1 {
	font-family: 'Russo One', sans-serif;
	color: #1B6CBD;
	width: 100%;
	/* word-spacing: 9999px; */
	/* word-wrap: break-word; */
	text-align: center;
	margin-top: 35px;
	padding-left: 25px;
	padding-right: 100px;
	/* padding: 0 25px; */
}

.active-menu ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 10px 0px;
	padding: 0px 0px;
	width: 100%;
	height: 50%;
}

.active-menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 25px 0px;
	transition: transform 100ms ease-in, filter 100ms ease-in;	
	
}

.active-menu a:hover, .active-menu a:active {
	filter:brightness(1.1);
	transform:scaleY(1.1);
	cursor: pointer;
  color: var(--my-blue);
	
	
}

.active-menu a {
	font-size: 22px;
	text-decoration: none;
	color: var(--primary-color);
	font-family: 'Russo One', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
	
}

.no-scroll {
  overflow-y: hidden;
}

.active-nav-link {
  color: var(--my-blue) !important;
}
.disable-background {
  background: none;
}
.disable-move {
  position: fixed;
}

.fade-in-section {
  opacity: 0;
  /* transform: translateY(20vh); */
  visibility: hidden;
  transition: opacity 1200ms ease-out, visibility 1200ms ease-out;
  will-change: opacity, visibility;
  /* will-change: opacity, transform, visibility; */
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


::-webkit-scrollbar {
  width: 10px;
  background: var(--my-dark);
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  margin: 5px;    
}

::-webkit-scrollbar-thumb {
  background: var(--my-blue); 
  border-radius: 30px;
  transition: transform 100ms ease-in, filter 100ms ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--my-blue); 

}

/* Breakpoint from mobile to desktop*/
@media (min-width: 732px) {

  body {
    /* overflow-y: hidden; */
  }
	nav {
		display: flex;
	}
  header .hamburger-menu {
    display: none;
  }
  h1:before {
    right: 0.5em;
    margin-left: -50%;
    width: 10%;
  }
  
  h1:after {
    left: 0.5em;
    margin-right: -50%;
    width: 50%;
  }
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    left: 62px;
    top: -3px;
    width: 4px;
    height: 100%;
    background: var(--my-blue);
    border-radius: 25px;
  }

  .timeline-date {
    top: 33px;
    right: unset;
  }
  .timeline-arrow {
    display: unset;
    position: absolute;
    top: 29px;
    left: 72px;
  }
    .timeline-title {
    top: -17px;
    left: 104px;

  }

  .timeline-body {
    margin-left: 100px;
  }
	
}

@media (min-width: 982px) {
  h1:before {
    right: 0.5em;
    margin-left: -50%;
    width: 10%;
  }

  h1:after {
    left: 0.5em;
    margin-right: -50%;
    width: 35%;
  }


}
